.outlet__carousel {
    display: flex;
    flex-direction: column;
    .outlet__carousel-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid gray;
        span {
            font-size: 14px;
            font-weight: 600;
        }
        .oc__title {
            display: flex;
            align-items: flex-end;
            gap: 8px;
            padding-bottom: 10px;
            span {
                position: relative;
                bottom: 6px;
                font-size: 14px;
                color: var(--dark-cyan);
                font-weight: 600;
            }
        }
        .oc__totalPages {
            display: flex;
            align-items: center;
            gap: 10px;
            .start {
                border-left: 1px solid var(--light-gray);
                padding-left: 10px;
                color: var(--dark-cyan);
                cursor: pointer;
                &:hover {
                    color: var(--burnt-sienna);
                    text-decoration: underline;
                }
            }
        }
    }
    .outlet__carousel-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        overflow: hidden;
        .active {
            opacity: 1;
            visibility: visible;
        }
        .oc__product-card {
            cursor: pointer;
            list-style: none;
            .oc__card-wrapper {
                width: 160px;
                height: 320px;
                .oc__card-img {
                    max-width: 160px;
                    max-height: 160px;
                    vertical-align: top;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .oc__card-name {
                    position: relative;
                    display: inline-block;
                    line-height: 1.3em;
                    max-height: 3.9em;
                    word-break: normal;
                    word-wrap: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 14px;
                    margin-top: 5px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
                .oc__card-review {
                    margin-top: 5px;
                    i {
                        display: inline-block;
                        background: url('https://m.media-amazon.com/images/S/sash/9DuIU8ZS5i377uD.png');
                        background-position: -2px -43px;
                        background-size: 512px 512px;
                        background-repeat: no-repeat;
                        width: 80px;
                        height: 18px;
                    }
                    span {
                        font-size: 13px;
                        letter-spacing: 0.03rem;
                        margin-left: 5px;
                        font-weight: 600;
                        position: relative;
                        top: -4px;
                    }
                }
                .oc__card-price {
                    margin-top: -5px;
                    .price__symbol {
                        position: relative;
                        top: -6px;
                        font-size: 12px;
                    }
                    .price__whole {
                        font-size: 21px;
                        font-weight: 600;
                    }
                    .price__friction {
                        font-size: 12px;
                        position: relative;
                        top: -6px;
                        letter-spacing: 0.02rem;
                        margin-left: 1px;
                    }
                }
                .oc__card-discount {
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    .discount__name {
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .discount__percentage {
                        font-size: 13px;
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        white-space: nowrap;
                        .strike {
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
}
