.sell {
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    // .navsell {
    //     position: relative;
    //     // z-index: 0;
    // }
    .sell__banner {
        width: 100%;
        background: url('https://m.media-amazon.com/images/G/01/sell/images/colors/blue50-100.svg');
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items: start;
        position: relative;
        .sell__banner-texts {
            flex: 1;
            padding: 30px 50px 30px 80px;
            position: relative;
            .sell__banner-title {
                font-size: 75px;
                line-height: 96px;
                color: #232f3e;
            }
            .sell__banner-desc {
                padding: 20px 0 40px 0;
                color: #232f3e;
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
                sup {
                    font-size: 8px;
                }
            }
            .sell__banner-btn {
                padding: 16px 36px;
                font-size: 24px;
                font-weight: 600;
                border-radius: 30px;
            }
            .sell__banner-text {
                display: block;
                font-size: 12px;
                padding-top: 8px;
            }
        }
        .sell__banner-img {
            flex: 1.5;
            z-index: 1;
            img {
                width: 100%;
                height: 556px;
                object-fit: contain;
            }
        }
        .sell__banner-wave {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            min-width: 768px;
            z-index: 0;
            transform: scaleX(-1);
        }
    }
    .sell__brand-review {
        width: 100%;
        padding: 80px;
        display: flex;
        align-items: center;
        gap: 25px;
        .sell__video {
            width: 50%;
            height: 625px;
            position: relative;
            .sell__video-wrapper {
                width: 100%;
                background: url('https://m.media-amazon.com/images/G/01/sell/images/posters/new-republic-05.jpg');
                background-position: center center;
                background-size: cover;
                border-radius: 20px;
                height: 100%;
                transition: 0.15s all cubic-bezier(0.64, 0.15, 0.53, 0.53);
                &:hover {
                    transform: scale(1.03);
                }
                .sell__video-play {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: max-content;
                    left: 50%;
                    height: 100%;
                    cursor: pointer;
                    transition: transform 0.3s
                            cubic-bezier(0.64, 0.15, 0.53, 0.53),
                        -webkit-transform 0.3s cubic-bezier(0.64, 0.15, 0.53, 0.53);
                    &::before {
                        content: '';
                        position: absolute;
                        background: rgba(0, 0, 0, 0)
                            url(https://m.media-amazon.com/images/G/01/sell/navigation/spritesheet-icons._TTH_.svg)
                            no-repeat;
                        background-position: -1px -286px;
                        width: 90px;
                        height: 90px;
                        z-index: 2;
                    }
                    &:hover {
                        transform: scale(1.03);
                    }
                }
            }
        }
        .sell__review-texts {
            width: 50%;
            height: 625px;
            display: flex;
            .sell__review-wrapper {
                width: 100%;
                height: 100%;
                background-color: #161e2d;
                border-radius: 20px;
                padding: 48px 32px 32px 32px;
                .hh__logo {
                    padding: 8px 32px 24px 32px;
                    .hh__logo-wrapper {
                        width: auto;
                        height: 14px;
                        img {
                            width: auto;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                .border__container {
                    width: 100%;
                    padding: 8px 32px 24px 32px;
                    .border__img {
                        background-image: url('https://m.media-amazon.com/images/G/01/sell/images/colors/blue-400.svg');
                        background-size: cover;
                        background-position: center center;
                        width: 80px;
                        height: 8px;
                    }
                }
                .review__text-wrapper {
                    width: 100%;
                    flex: 0 0 auto;
                    align-content: flex-start;
                    align-items: stretch;
                    padding: 8px 24px 24px 32px;
                    max-width: 500px;
                    .review__quote {
                        color: white;
                        font-size: 26px;
                        line-height: 36px;
                        font-weight: 600;
                        text-align: justify;
                        flex-grow: 1;
                    }
                    .review__founder {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color: white;
                        margin-top: 15px;
                        .founder__img {
                            height: 48px;
                            width: auto;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        .founder__name-wrapper {
                            display: flex;
                            flex-direction: column;
                            .founder__name {
                                font-weight: 600;
                            }
                            .founder__title {
                                font-size: 12px;
                            }
                        }
                    }
                }
                .review__discovery-stats {
                    display: flex;
                    justify-content: space-between;
                    color: white;
                    background-color: #232f3e;
                    padding: 20px 40px;
                    border-radius: 20px;
                    h3 {
                        font-size: 48px;
                    }
                    p {
                        font-size: 14px;
                        max-width: 400px;
                    }
                    .stats__first {
                        border-right: 4px solid #161e2d;
                        padding-right: 24px;
                        p {
                        }
                    }
                    .stats__second {
                        padding-left: 48px;
                    }
                }
            }
        }
    }
    .sell__incentives {
        padding: 60px 80px;
        display: flex;
        align-items: center;
        .sell__incentives-left {
            flex: 2;
            color: #232f3e;
            button {
                display: flex;
                align-items: start;
                justify-content: center;
                gap: 10px;
                background-color: #008296;
                color: white;
                font-weight: 600;
                border: none;
                padding: 10px;
                border-radius: 5px;
                letter-spacing: 0.03rem;
                .icon {
                    height: 12px;
                    width: auto;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            h1 {
                font-size: 48px;
            }
            p {
                padding: 10px 0;
                font-size: 20px;
            }
            .incentives__benefits {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .incentives__benefits-wrapper {
                    display: flex;
                    align-items: start;
                    gap: 10px;
                    .checkIcon {
                        height: 12px;
                        width: auto;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
        .sell__incentives-right {
            flex: 1;
            width: auto;
            height: 400px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .sell__business-at-scale {
        margin: 40px 0;
    }
    .sell__brand-experience {
        margin-top: 80px;
    }
    .sell__caseStudies {
        max-width: 100%;
        padding: 40px 80px;
        h1 {
            text-align: center;
            color: #232f3e;
            font-size: 48px;
            padding-bottom: 20px;
        }
        .caseStudies__cards {
            display: flex;
            align-items: center;
            gap: 25px;
            .caseStudies__card {
                width: 100%;
                flex: 1;
                display: flex;
                flex-direction: column;
                border-radius: 8px;
                box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                transition: transform 0.2s ease;
                &:hover {
                    transform: scale(1.03);
                }
                .caseStudies__card-img {
                    img {
                        width: 100%;
                    }
                }
                .caseStudies__card-texts {
                    padding: 20px 40px 30px 40px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    span {
                        font-size: 14px;
                        font-weight: 700;
                        letter-spacing: 0.03rem;
                        background-color: #eaeded;
                        padding: 5px 8px;
                        margin-top: 10px;
                        width: fit-content;
                    }
                    h2 {
                        margin-top: 10px;
                        color: #232f3e;
                    }
                    p {
                        font-size: 14px;
                        color: #6c7778;
                        font-weight: 600;
                        width: 290px;
                    }
                }
            }
        }
    }
    .sell__programs {
        padding: 40px 85px;
        .sell__programs-wrapper {
            background-image: url('https://m.media-amazon.com/images/G/01/sell/images/colors/aqua-50.svg');
            width: 100%;
            background-size: cover;
            background-position: center center;
            border-radius: 16px;
            display: flex;
            align-items: center;
            .sell__programs-left {
                padding: 60px 0 60px 80px;
                flex: 1;
                .programs__left-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    span {
                        font-size: 16px;
                        font-weight: 700;
                        color: #161e2d;
                    }
                    .programs__title {
                        font-size: 48px;
                        line-height: 58px;
                        font-weight: bold;
                        color: #232f3e;
                    }
                    .programs__desc {
                        font-size: 15px;
                        line-height: 24px;
                        font-weight: 600;
                        width: 450px;
                        color: #232f3e;
                    }
                    .programs__button-wrapper {
                        display: flex;
                        align-items: center;
                        gap: 40px;
                        margin-top: 10px;
                        button {
                            padding: 10px 22px;
                            border-radius: 30px;
                            outline: none;
                            letter-spacing: 0.04rem;
                            font-size: 14px;
                            font-weight: 600;
                            cursor: pointer;
                        }
                        .explore__btn {
                            color: white;
                            background-color: #161e2d;
                            outline: none;
                            border: 2px solid white;
                            &:hover {
                                border: 2px solid white;
                                box-shadow: 0 0 16px rgba(0, 0, 0, 0.35) !important;
                            }
                        }
                        .watch__btn {
                            border: 2px solid #232f3e;
                            background-color: white;
                            padding-left: 46px;
                            &::before {
                                content: '';
                                background: rgba(0, 0, 0, 0)
                                    url('https://m.media-amazon.com/images/G/01/sell/navigation/spritesheet-icons._TTH_.svg')
                                    no-repeat;
                                background-position: 0 -73px;
                                background-size: 116px;
                                display: inline-block;
                                position: absolute;
                                height: 18px;
                                width: 14px;
                                transform: translate(-22px, -1px);
                                margin-right: 12px;
                            }
                            &:hover {
                                box-shadow: 0 0 16px rgba(0, 0, 0, 0.35) !important;
                            }
                        }
                    }
                }
            }
            .sell__programs-right {
                flex: 1;
                .sell__programs-img {
                    margin-right: -80px;
                    height: 350px;
                    width: auto;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .sell__learnMore {
        background: url('https://m.media-amazon.com/images/G/01/sell/images/colors/blue-50.svg');
        width: 100%;
        background-position: center center;
        background-size: cover;
        padding: 40px 80px;
        position: relative;
        .sell__learnMore-wrapper {
            background-color: white;
            position: relative;
            z-index: 1;
            max-width: 1200px;
            padding: 40px 0 60px 0;
            border-radius: 16px;
            box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
            .learnMore__texts {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                color: #232f3e;
                h1 {
                    margin-bottom: 20px;
                }
                .learnMore-lists-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 100px;
                    .learnMore-lists {
                        padding-right: 50px;
                    }
                }
            }
        }
        svg {
            position: absolute;
            top: 0;
            bottom: auto;
            left: 0;
            width: 100%;
            min-width: 768px;
            z-index: 0;
            transform: scaleY(-1);
        }
    }
    .sell__ecommerce {
        background-image: url('https://m.media-amazon.com/images/G/01/sell/images/colors/blue-50.svg');
        width: 100%;
        background-size: cover;
        background-position: center center;
        padding: 40px 0;
        h1 {
            text-align: center;
            padding: 40px 0;
            font-size: 48px;
            line-height: 58px;
            color: #232f3e;
        }
        .sell__ecommerce-wrapper {
            .ecommerce__cards {
                display: flex;
                flex-direction: column;
                gap: 18px;
                .ecommerce__cards-wrapper {
                    max-width: 1200px;
                    margin: 0 auto;
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: start;
                    gap: 30px;
                    .ecommerce__card {
                        background: white;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: space-between;
                        height: 420px;
                        padding: 40px;
                        box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
                        .ecommerce__card-img {
                            width: auto;
                            height: 64px;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }
                        .ecommerce__card-title {
                            font-size: 32px;
                            line-height: 38px;
                            color: #232f3e;
                        }
                        .ecommerce__card-desc {
                            color: #6c7778;
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 600;
                            width: 300px;
                        }
                        .learnMore {
                            color: #232f3e;
                        }
                    }
                }
            }
        }
    }
    .sell__signUp {
        width: 100%;
        background-image: url('https://m.media-amazon.com/images/G/01/sell/images/colors/blue-50.svg');
        background-size: cover;
        background-position: center center;
        color: #232f3e;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        .sell__signUp-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            .sell__signUp-top {
                display: flex;
                align-items: center;
                gap: 20px;
                padding-top: 20px;
                span {
                    margin-top: 15px;
                }
            }
            .sell__signUp-bottom {
                padding: 80px 0;
                width: 100%;
                max-width: 1100px;
                display: flex;
                position: relative;
                z-index: 1;
                .signUp__box {
                    display: flex;
                    align-items: start;
                    justify-content: flex-start;
                    background-color: #161e2d;
                    border-radius: 16px;
                    padding: 48px;
                    height: 350px;
                    width: 100%;
                    .signUp__box-left {
                        width: 90%;
                        position: relative;
                        z-index: 1;
                        display: flex;
                        flex-direction: column;
                        padding: 0 0 0 40px;
                        h1 {
                            font-size: 64px;
                            line-height: 76px;
                            color: white;
                        }
                        p {
                            font-size: 20px;
                            line-height: 30px;
                            color: #eaeded;
                            width: 550px;
                            padding: 10px 0;
                        }
                        button {
                            width: fit-content;
                            background-color: #f90;
                            color: #232f3e;
                            font-size: 24px;
                            font-weight: 600;
                            border: 2px solid #f90;
                            padding: 14px 36px;
                            border-radius: 36px;
                            cursor: pointer;
                            margin: 20px 0 5px 0;
                        }
                        span {
                            font-size: 12px;
                            color: white;
                            // margin-top: -13px;
                        }
                    }
                }
                .signUp__img {
                    width: auto;
                    height: 440px;
                    position: absolute;
                    z-index: 0;
                    right: -20px;
                    bottom: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
        svg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            min-width: 768px;
            z-index: 0;
            transform: scaleX(-1);
        }
    }
    .sell__footer-text {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 80px;
        span {
            font-size: 12px;
            color: #6c7778;
        }
    }
}

.btn-orange {
    outline: none;
    border: none;
    color: #232f3e;
    background-color: #f90;
    border: 2px solid #f90;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.15s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.35) !important;
    }
}

.underlineTransition {
    margin: 0 5px;
    background: linear-gradient(currentColor 99%, rgba(0, 0, 0, 0)) no-repeat
        left 100%;
    background-size: 100% 2px;
    padding-bottom: 4px;
    transition: background-size 0.3s cubic-bezier(0.64, 0.15, 0.53, 0.53);
    -webkit-transition: background-size 0.3s
        cubic-bezier(0.64, 0.15, 0.53, 0.53);
    &:hover {
        background-size: 0 2px;
        background-position: right 100%;
    }
}

.learnMore {
    padding-top: 5px;
    margin-top: 10px;
    a {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 700;
        gap: 15px;
        &::after {
            content: '';
            display: inline-block;
            background: url('https://m.media-amazon.com/images/G/01/sell/navigation/spritesheet-icons._TTH_.svg');
            background-position: 2px 3px;
            background-repeat: no-repeat;
            height: 14px;
            width: 14px;
            transform: translate(0);
            transition: transform 0.2s cubic-bezier(0.64, 0.015, 0.53, 0.53),
                -webkit-transform 0.2s cubic-bezier(0.64, 0.015, 0.53, 0.53);
        }
    }
    a:hover {
        &::after {
            background-position: -17px 3px;
            transform: translate(4px, -4px);
        }
    }
}
