.deals {
    padding: 0;
    .deals__container {
        display: flex;
        flex-direction: column;
        .deals__image {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .deals__content {
            width: 100%;
        }
        .deals__pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px 0;
            background: #eaeded;
            ul {
                display: flex;
                align-items: center;
                gap: 10px;
                li {
                    list-style: none;
                    border-radius: 8px;
                    button {
                        border: 1px solid #6c6e73;
                        border-radius: 8px;
                        padding: 8px 15px;
                        font-size: 14px;
                        outline: none;
                        cursor: pointer;
                    }

                    .disabled {
                        border-color: #d5d9d9 !important;
                        background: white;
                        color: #6f7373;
                        border-radius: 8px;
                        cursor: text;
                    }
                    .actived {
                        color: var(--dark-cyan);
                        border-color: var(--dark-cyan);
                        font-weight: bold;
                        background-color: #edfdff;
                        &:hover {
                            background-color: #f7fafa;
                        }
                    }
                }
            }
        }
        .deals__img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
