.deals__grid-container {
    border-top: 1px solid #d5dbdb;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    .deals__grid-card {
        width: 100%;
        height: 100%;
        padding: 20px;
        position: relative;
        border-bottom: 1px solid #d5dbdb;
        border-right: 1px solid #d5dbdb;
        .deals__grid-img {
            width: 260px;
            height: 250px;
            position: relative;
            margin: auto;
            cursor: pointer;
            img {
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .deals__grid-text {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 12px;
            margin-top: 10px;
            padding: 10px 0 0 10px;
            .text__discount {
                display: flex;
                align-items: center;
                .discount {
                    padding: 3px 5px;
                    border-radius: 2px;
                    color: white;
                    background-color: #cc0c39;
                }
                span {
                    color: #cc0c39;
                    background-color: white;
                }
            }
            span {
                background-color: #cc0c39;
                font-weight: bold;
                color: white;
                padding: 3px 5px;
                border-radius: 2px;
            }
        }
        .deals__grid-title {
            margin-top: 5px;
            max-width: 250px;
            padding: 0 10px;
            cursor: pointer;
            &:hover {
                color: red;
            }
            p {
                font-size: 0.9em;
                font-weight: 600;
                max-height: 2.8em;
                line-height: 1.4;
                // text-overflow: ellipsis;
                cursor: pointer;
            }
        }
    }
    .deals__grid-card + .deals__grid-title:hover {
        // &:hover {
        color: #c7511f;
        // }
    }
}
