.couponContents {
    padding: 0 20px;
    width: 100%;
    .couponContents__search {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .couponContents__container {
        display: flex;
        flex-direction: column;
        .couponContents__wrapper {
            width: 1050px;
            // height: 430px;
            overflow: hidden;
            .couponContents__title {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: 30px;
                margin-bottom: 20px;
                span {
                    color: var(--dark-cyan);
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 28px;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                        color: var(--burnt-sienna);
                    }
                }
            }
            .couponContents__carousel {
                display: flex;
                // align-items: center;
                // justify-content: space-between;
                // gap: 20px;
                // overflow: hidden;
                // width: 1100px;
                // .couponContents__card-wrapper {
                .couponContents__card {
                    display: flex;
                    align-items: center;
                    // justify-content: space-between;
                    // flex-direction: column;
                    // max-width: 200px;
                    height: 430px;
                    padding: 10px;
                    margin: 0 13px;
                    border: 2px dashed transparent;
                    transition: 0.2s all ease;
                    cursor: pointer;
                    &:hover {
                        border: 2px dashed #ddd;
                        box-shadow: 0 8px 8px -2px rgba(221, 221, 221, 0.8);
                    }
                    .card__wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        width: 150px;
                        .card__img {
                            width: 100%;
                            height: 170px;
                            margin-bottom: 10px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        .card__title {
                            font-size: 16px;
                            line-height: 24px;
                            color: var(--green);
                        }
                        .card__description {
                            margin-top: 30px;
                            height: 40px;
                            overflow: hidden;
                            p {
                                color: var(--dark-cyan);
                                font-size: 14px;
                                font-weight: 600;
                                word-wrap: break-word;
                            }
                        }
                        &:hover {
                            transition: 0.2s all ease;
                            .card__title,
                            .card__description {
                                text-decoration: underline;
                                text-decoration-color: red;
                            }
                        }
                    }
                    .card__clipBtn {
                        width: 100%;
                        margin-top: 10px;
                        button {
                            font-size: 13px;
                            font-weight: 500;
                            width: 100%;
                            height: 30px;
                            background-color: #ffd814;
                            border: 1px solid #fcd200;
                            border-radius: 8px;
                            box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
                            cursor: pointer;
                            &:hover {
                                background-color: #f7ca00;
                                border-color: #f2c200;
                            }
                        }
                    }
                    // }
                    // .couponContents__cards {
                    //     overflow: hidden;
                    //     ul {
                    //         list-style: none;
                    //         display: flex;
                    //         align-items: start;
                    //         gap: 20px;
                    //         width: 970px;
                    //         height: 430px;
                    //         li {
                    //             margin-top: 10px;
                    //             margin-left: 10px;
                    //             max-width: 200px;
                    //             width: 200px;

                    //             .card__footer {
                    //                 height: 50px;
                    //             }
                    //         }
                    //     }
                    // }
                }
            }
        }
    }
}
