.renewedDeals {
    margin: 20px;
    .renewedDeals__wrapper {
        position: relative;
        .renewedDeals__products {
            padding-left: 10px;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                width: 100%;
                border-top: 1px solid #d5d5d5;
            }
        }
        .renewedDeals__pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
            position: relative;
            ul {
                display: flex;
                align-items: center;
                gap: 10px;
                li {
                    list-style: none;
                    border-radius: 8px;
                    button {
                        border: 1px solid #6c6e73;
                        border-radius: 8px;
                        padding: 8px 15px;
                        font-size: 14px;
                        outline: none;
                        cursor: pointer;
                    }
                    .disabled {
                        border-color: #d5d9d9 !important;
                        background: white;
                        color: #6f7373;
                        border-radius: 8px;
                        cursor: text;
                    }
                    .actived {
                        color: #007185;
                        border-color: #007185;
                        font-weight: bold;
                        background-color: #edfdff;
                        &:hover {
                            background-color: #f7fafa;
                        }
                    }
                }
            }
            .pagination__link {
                position: absolute;
                right: 0;
                top: 10px;
                color: #007185;
                font-size: 14px;
                font-weight: 600;
                &:hover {
                    color: #c7511f;
                }
                // margin-left: 20px;
            }
        }
    }
}
