.home {
    background: #e3e6e6;
    margin: 0 auto;
    margin-bottom: 0px;
    max-width: none;
    min-width: 1000px;
    position: relative;
    .home__cards {
        position: relative;
        margin-top: -300px;
        width: 100%;
        height: 100%;
        z-index: 1;
        .home__signin {
            background-color: white;
            padding: 20px 0;
            .home__sigin-texts {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;
                border-top: 1px solid var(--light-gray);
                border-bottom: 1px solid ligvar(--light-gray) htgray;
                padding: 40px 0 30px 0;
                button {
                    display: block;
                    height: 28px;
                    width: 250px;
                    border-radius: 5px;
                    line-height: 28px;
                    font-weight: 700;
                    border: 1px solid orange;
                    background: linear-gradient(#ffe093, orange);
                    text-shadow: 0 1px 0 #ffe093;
                    cursor: pointer;
                }
                span {
                    a {
                        color: #007185;
                        text-decoration: none;
                        transition: 0.3s all ease-in-out;
                        &:hover {
                            color: orangered;
                        }
                    }
                }
            }
        }
        .footer {
            background-color: #e3e6e6;

            .home___totop {
                background-color: #37475a;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: white;
                    span {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                &:hover {
                    background-color: rgba(54, 70, 89, 0.94);
                }
            }
        }
    }
}
