.couponsFilter {
    width: 100%;
    .couponsFilter__container {
        height: 100%;
        border-right: 2px solid #ddd;
        h4 {
            margin-top: 10px;
            font-size: 15px;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 2px;
            list-style: none;
            padding-left: 10px;
            li {
                font-size: 13px;
                a {
                    &:hover {
                        color: var(--burnt-sienna);
                    }
                }
            }
        }
    }
}
