.outlet {
    padding: 15px;
    .outlet__banner {
        max-width: 1500;
        max-height: 580;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .outlet__categories {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        .grid__box {
            background: white;
            border: 1px solid #d5d9d9;
            width: 300px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            letter-spacing: 0.04rem;
            font-weight: 600;
            text-transform: uppercase;
            box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
            transition: background-color 150ms ease-in-out,
                border-color 150ms ease-in-out;
            cursor: pointer;
            &:hover {
                color: white;
                background-color: black;
            }
        }
    }
    .outlet__carousel-wrapper {
        padding-top: 20px;
    }
    .outlet__categories-wrapper {
        max-width: 1500px;
        margin-top: 70px;
        .categories__title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            height: 100px;
            background-color: #f49443;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .categories__list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            .category {
                flex: 1 1 20%;
                margin-bottom: -6px;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
