.carousel {
    display: block;
    position: relative;
    h1 {
        font-size: 21px;
        margin-bottom: 20px;
    }
    .carousel__products {
        position: relative;
        overflow: hidden;
        .carousel__product {
            display: flex;
            height: 200px;
            padding: 10px 0 20px 0;
            overflow-x: auto;
            overflow-y: hidden;
            scroll-behavior: smooth;
            white-space: nowrap;
            transition-delay: 0.5s;
            -webkit-animation-delay: 0.5s;
            li {
                list-style: none;
                position: relative;
                .image__wrapper {
                    display: block;
                    max-width: 200px;
                    max-height: calc((300 / 200) * 200px);
                    position: relative;
                    width: 150px;
                    .image {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
            &::-webkit-scrollbar {
                visibility: hidden;
                height: 6px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                transition: background-color 2 ease;
                border-radius: 5px;
            }
            img {
                cursor: pointer;
            }
        }
        .carousel__arrows {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            z-index: 1;
            display: flex;
            align-items: center;
            visibility: hidden;
            .icon {
                font-size: 40px;
                padding: 0;
                margin: 0;
            }
        }
        .arrow__left,
        .arrow__right {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.2);
            color: rgb(77, 76, 76);
            background: white;
            padding: 30px 5px;
            cursor: pointer;
            transition: 0.4s all;
            &:hover {
                color: black;
            }
        }
        .arrow__left {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            left: 0;
        }
        .arrow__right {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            right: 0;
        }
    }
    .carousel__products:hover .carousel__product {
        &::-webkit-scrollbar {
            transition: all 0.5s ease-in-out;
        }
        &::-webkit-scrollbar-thumb {
            background: #aaaa;
            &:hover {
                background: #7c7c7c;
            }
        }
    }
    .carousel__products:hover .carousel__arrows {
        visibility: visible;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        transition-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
    }
}
