.warehouse__contents {
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    hr {
        width: 100%;
        height: 1px;
        border-top: 1px solid #bbbfbf;
        border-bottom-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    .banner1 {
        width: 100%;
        height: 100%;
    }
    .banner2 {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .slider {
        padding: 20px 10px;
        position: relative;
    }
    .categories {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .categories__title {
            width: 100%;
            margin-bottom: 20px;
        }
        .categories__img-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            overflow: hidden;
            .cate {
                flex: 1 1 25%;
                width: 100%;
            }
        }
    }
    .video__player {
        margin-top: 20px;
        h4 {
            margin-bottom: 20px;
            font-size: 20px;
        }
        .video {
            width: 100%;
            padding: 0 50px;
            video {
                width: 100%;
                height: 100%;
            }
        }
    }
    .questions__wrapper {
        padding-bottom: 50px;
        h1,
        h2 {
            padding: 0;
            margin: 0;
        }
        h1 {
            font-weight: 500;
            padding-top: 10px;
            padding-bottom: 5px;
        }
        h2 {
            padding-top: 10px;
        }
        p {
            padding: 5px 0;
            line-height: 20px;
        }
        .bold {
            font-weight: bold;
        }
    }
}
