.hmenu__focus-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    will-change: opacity;
    visibility: visible;
    transition: all 0.2s ease-in-out;
    .hmenu__close-icon {
        background-position: -190px -288px;
        left: 380px;
        top: 20px;
        cursor: pointer;
        position: fixed;
        width: 20px;
        height: 20px;
    }
}

.hmenu__transparent {
    opacity: 0;
    visibility: hidden;
}

.hmenu__canvas {
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 365px;
    top: 0;
    z-index: 20;
    overflow-x: auto;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 0 10px 0 rgba(0, 0, 0.4);
    .hmenu__profile {
        padding: 10px 40px;
        background-color: #232f3e;
        display: flex;
        align-items: flex-end;
        gap: 10px;
        .hmenu__profile-avatar {
            background-position: -137px -340px;
            width: 25px;
            height: 27px;
        }
        .hmenu__profile-text {
            font-size: 18px;
            letter-spacing: 0.04rem;
            font-weight: bold;
            color: white;
        }
    }
    .hmenu__content {
        margin-top: 10px;

        ul {
            display: flex;
            flex-direction: column;
            .hmenu__title {
                cursor: text;
            }
            li {
                padding: 13px 20px 13px 36px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;
                cursor: pointer;
                color: black;
                .hmenu__item {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 600;
                    .hmenu__item-icon {
                        display: flex;
                        align-items: end;
                        margin-right: 15px;
                    }
                }
                .hmenu__arrow-icon {
                    background-position: -137px -288px;
                    width: 10px;
                    height: 14px;
                }
                .hmenu__more-icon {
                    background-position: -184px -342px;
                    height: 8px;
                    width: 13px;
                    margin-left: 19px;
                }
                .hmenu__less-icon {
                    background-position: -184px -342px;
                    height: 8px;
                    width: 13px;
                    transform: rotate(180deg);
                    margin-left: 10px;
                }
                &:hover:not(.hmenu__title) {
                    background-color: #eaeded;
                }
                &:hover .hmenu__arrow-icon {
                    background-position: -166px -288px;
                }
                &:hover .hmenu__more-icon,
                &:hover .hmenu__less-icon {
                    background-position: -184px -361px;
                }
            }
            .hmenu__more,
            .hmenu__less {
                justify-content: flex-start;
            }
            .hidden {
                display: none;
            }
            .hmenu__separator {
                border-bottom: 1px solid #d5dbdb;
                margin: 5px 0;
                padding: 0;
            }

            .hmenu__hidden {
                display: flex;
                flex-direction: column;
                visibility: visible;
                opacity: 1;
                overflow: auto;
                height: auto;
                .padding {
                    padding: 0;
                    margin: 5px 20px 5px 35px;
                }
            }
            .hmenu__hidden:not(.compressed) {
                transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                    opacity 0.4s cubic-bezier(0.4, 0, 0.6, 1),
                    transform 0.3s ease;
            }
            .large {
                height: 903px;
            }
            .small {
                height: 105px;
            }
            .compressed {
                overflow: hidden;
                height: 0;
                opacity: 0;
                transform: translateY(20px);
                transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                    opacity 0.4s cubic-bezier(0.4, 0, 0.6, 1),
                    transform 0.3s ease;
            }
        }
    }
}

.hmenu__active {
    transform: translateX(0);
    visibility: visible;
}
