// .navbar__logo {
//     width: 100%;
//     height: 100%;
.navbar__logo-link {
    height: 50px;
    width: 100%;
    .navbar__logo-base {
        background-position: -237px -227px;
        width: 97px;
        height: 30px;
    }
}
// }

// .navbar__logo .navbar__logo-base {
//     float: left;
//     text-indent: -500px;
// }
