:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --dark-red: #cc0c39;
    --dark-cyan: #007185;
    --light-gray: #d5dbdb;
    --burnt-sienna: #c7511f;
    --green: #007600;
    --yellow: #ffd814;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    width: 100%;
    padding: 0;
}

.nav__globe {
    background: url('https://m.media-amazon.com/images/S/sash/fe2UeLQmJ11kKHN.png');
}

.arrowIcon {
    display: inline-block;
    background: url('https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png');
    background-size: 400px 900px;
    width: 11px;
    height: 15px;
}

.arrowLeft {
    background-position: -123px -7px;
}
.arrowRight {
    background-position: -105px -7px;
}
