.sc__articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    min-width: 300px;
    max-width: 670px;
    padding: 7px 7px 7px 20px;
    .sc__articles-wrapper {
        ul {
            columns: 2;
            li {
                display: flex;
                max-width: 320px;
                a {
                    display: flex;
                    overflow: hidden;
                    span {
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        width: 100%;
                    }
                }
            }
        }
    }
}
