.help__content {
    padding: 30px 0;
    background-color: #f7fafa;
    .help__content-wrapper {
        padding: 0 20px;
        margin: auto;
        max-width: 1300px;
        h2 {
            margin: 10px 0;
        }
        label {
            width: 100%;
            .help__content-search {
                position: relative;
                .icon__search {
                    display: inline-block;
                    background-image: url('https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png');
                    background-size: 400px 900px;
                    background-position: -271px -86px;
                    width: 13px;
                    height: 13px;
                    position: absolute;
                    top: 50%;
                    margin-top: -7px;
                    left: 10px;
                }
                input {
                    font-size: 14px;
                    width: 100%;
                    height: 34px;
                    padding: 3px 30px;
                    background: #fff;
                    border: 1px solid #888c8c;
                    box-shadow: 0 1px 2px rgba(15, 17, 17, 0.15) inset;
                    border-radius: 5px;
                    outline: 0;
                    &:focus {
                        background: #f7feff;
                        border-color: #007185;
                        box-shadow: 0 0 0 3px #c8f3fa,
                            0 1px 2px rgba(15, 17, 17, 0.15) inset;
                    }
                }
            }
        }
        .help__topics {
            display: flex;
            .help__topics-filter {
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    li {
                        width: 227px;
                        height: 50px;
                        padding: 5px 17px;
                        font-size: 15px;
                        line-height: 1.3;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        cursor: pointer;
                        font-weight: 700;
                        border-radius: 5px;
                        &:hover {
                            background: #ddd;
                        }
                    }
                    .selected {
                        color: #fff;
                        background-color: #008296;
                        &:hover {
                            background-color: #008296;
                        }
                    }
                }
            }
            .help__topics-contents {
                margin-left: 45px;
                .contents__wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    .content__card-wrapper {
                        width: 50%;
                        padding: 0 10px 20px 10px;
                        .content__card {
                            height: 90px;
                            display: flex;
                            align-items: start;
                            flex-direction: column;
                            padding: 16px 20px;
                            background-color: #fff;
                            border: 1px solid #ddd;
                            border-radius: 7px;
                            cursor: pointer;
                            &:hover {
                                background-color: #f7fafa;
                            }
                            .card__desc {
                                font-size: 12px;
                                color: #767676;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
