.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    .carousel__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        cursor: pointer;
        .arrowIcon {
            background: url('https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png');
            background-size: 400px 900px;
            background-repeat: no-repeat;
            display: inline-block;
            width: 11px;
            height: 15px;
        }
        .left {
            background-position: -123px -7px;
        }
        .right {
            background-position: -105px -7px;
        }
    }
    .carousel__content {
        width: 100%;
        overflow: hidden;
    }
}
